In [1]:
import numpy as np
import pandas as pd

In [2]:
weather = pd.read_csv(r"C:\Users\Kajal\Desktop\ssd\March coding work\New_Weather_AUS.csv")
weather

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.900000,0.6,5.468232,7.611178,W,44.00000,W,...,71.0,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.100000,0.0,5.468232,7.611178,WNW,44.00000,NNW,...,44.0,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.700000,0.0,5.468232,7.611178,WSW,46.00000,W,...,38.0,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.000000,0.0,5.468232,7.611178,NE,24.00000,SE,...,45.0,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.300000,1.0,5.468232,7.611178,W,41.00000,ENE,...,82.0,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.400000,0.0,5.468232,7.611178,E,31.00000,SE,...,51.0,24.0,1024.6,1020.3,4.447461,4.50993,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.300000,0.0,5.468232,7.611178,NNW,22.00000,SE,...,56.0,21.0,1023.5,1019.1,4.447461,4.50993,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.900000,0.0,5.468232,7.611178,N,37.00000,SE,...,53.0,24.0,1021.0,1016.8,4.447461,4.50993,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.000000,0.0,5.468232,7.611178,SE,28.00000,SSE,...,51.0,24.0,1019.4,1016.5,3.000000,2.00000,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,23.221348,0.0,5.468232,7.611178,NaN,40.03523,ESE,...,62.0,36.0,1020.2,1017.9,8.000000,8.00000,15.0,20.9,No,NaN

In [3]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        145460 non-null  float64
 3   MaxTemp        145460 non-null  float64
 4   Rainfall       145460 non-null  float64
 5   Evaporation    145460 non-null  float64
 6   Sunshine       145460 non-null  float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  145460 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    145460 non-null  float64
 14  Humidity3pm    145460 non-null  float64
 15  Pressure9am    145460 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       145460 non-null  float64
 18  Cloud3pm       145460 non-null  float64
 19  Temp9am        145460 non-null  float64
 20  Temp3pm        145460 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [4]:
weather.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,143693.000000,142398.000000,145460.000000,145460.000000,145460.000000,130432.000000,145460.000000,145460.000000,145460.000000,145460.000000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.649940,1015.255889,4.447461,4.509930,16.990631,21.683390
std,6.365750,7.088124,8.382488,3.161541,2.729486,13.118253,8.915375,8.809800,18.854765,20.471189,6.728467,7.037414,2.265604,2.092954,6.449221,6.850057
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000
25%,7.700000,18.000000,0.000000,4.000000,7.611178,31.000000,7.000000,13.000000,57.000000,37.000000,1013.500000,1010.400000,3.000000,4.000000,12.300000,16.700000
50%,12.100000,22.700000,0.000000,5.468232,7.611178,39.000000,13.000000,19.000000,69.000000,51.539116,1017.649940,1015.200000,4.447461,4.509930,16.800000,21.400000
75%,16.800000,28.200000,1.000000,5.468232,8.700000,46.000000,19.000000,24.000000,83.000000,65.000000,1021.800000,1020.000000,6.000000,6.000000,21.500000,26.200000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000

In [5]:
weather.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir       True
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am      True
WindSpeed3pm      True
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm       True
Cloud9am         False
Cloud3pm         False
Temp9am          False
Temp3pm          False
RainToday         True
RainTomorrow      True
dtype: bool

# checking null values

In [6]:
weather.isnull().sum()

Date                 0
Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation          0
Sunshine             0
WindGustDir      10326
WindGustSpeed        0
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am          0
Humidity3pm          0
Pressure9am          0
Pressure3pm      15028
Cloud9am             0
Cloud3pm             0
Temp9am              0
Temp3pm              0
RainToday         3261
RainTomorrow      3267
dtype: int64

# Replace null values

In [7]:
weather["WindGustDir"].unique()

array(['W', 'WNW', 'WSW', 'NE', 'NNW', 'N', 'NNE', 'SW', nan, 'ENE',
       'SSE', 'S', 'NW', 'SE', 'ESE', 'E', 'SSW'], dtype=object)

In [8]:
weather["WindDir9am"].unique()

array(['W', 'NNW', 'SE', 'ENE', 'SW', 'SSE', 'S', 'NE', nan, 'SSW', 'N',
       'WSW', 'ESE', 'E', 'NW', 'WNW', 'NNE'], dtype=object)

In [9]:
weather["WindDir3pm"].unique()

array(['WNW', 'WSW', 'E', 'NW', 'W', 'SSE', 'ESE', 'ENE', 'NNW', 'SSW',
       'SW', 'SE', 'N', 'S', 'NNE', nan, 'NE'], dtype=object)

In [10]:
weather["WindSpeed9am"].unique()

array([ 20.,   4.,  19.,  11.,   7.,   6.,  15.,  17.,  28.,  24.,  nan,
         9.,   0.,  13.,   2.,  26.,  30.,  22.,  35.,  37.,  31.,  33.,
        48.,  39.,  44.,  43.,  41.,  46.,  56.,  83.,  74.,  52.,  65.,
        50., 130.,  54.,  61.,  57.,  59.,  87.,  67.,  63.,  69.,  72.])

In [11]:
weather["WindSpeed3pm"].unique()

array([24., 22., 26.,  9., 20., 17., 28., 11.,  6., 13., 30., 19., 31.,
        7., 15., 48.,  4., 33.,  0.,  2., nan, 37., 46., 39., 50., 35.,
       44., 41., 43., 56., 61., 54., 52., 83., 65., 78., 57., 63., 59.,
       74., 72., 69., 76., 87., 67.])

In [12]:
weather["Pressure3pm"].unique()

array([1007.1  , 1007.8  , 1008.7  , 1012.8  , 1006.   , 1005.4  ,
       1008.2  , 1010.1  , 1003.6  , 1005.7  , 1004.2  ,  993.   ,
       1001.8  , 1010.3  , 1010.4  , 1002.2  , 1009.7  , 1017.1  ,
       1014.8  , 1008.1  , 1007.6  , 1001.7  , 1003.4  , 1005.1  ,
       1003.2  , 1013.1  , 1009.2  , 1006.7  , 1002.7  , 1010.9  ,
       1013.7  , 1006.8  , 1012.1  , 1006.9  , 1012.7  , 1017.4  ,
       1016.2  , 1010.6  , 1004.8  , 1005.9  ,  997.8  , 1003.9  ,
       1014.6  , 1014.1  , 1011.6  , 1011.8  , 1010.2  , 1010.5  ,
       1007.4  , 1004.7  , 1002.6  , 1005.   , 1003.8  , 1006.5  ,
       1008.5  , 1011.1  , 1017.3  , 1019.7  , 1016.4  , 1013.8  ,
       1013.5  , 1007.5  , 1004.5  , 1010.8  , 1012.4  , 1013.4  ,
       1015.   , 1012.6  , 1004.6  , 1009.   , 1012.   , 1014.7  ,
       1015.9  , 1018.   , 1018.9  , 1008.   , 1013.2  , 1013.9  ,
       1013.6  , 1014.4  , 1019.2  , 1017.2  , 1020.7  , 1020.6  ,
       1019.1  , 1019.5  , 1019.4  , 1018.4  , 1012.9  , 1019.3  ,
       1016.5  , 1019.6  , 1023.5  , 1023.4  , 1017.7  , 1020.3  ,
       1020.8  , 1018.7  , 1009.8  , 1016.8  , 1020.   , 1020.9  ,
       1021.6  , 1015.7  , 1002.4  , 1000.9  , 1003.3  , 1018.3  ,
       1021.5  , 1023.2  , 1024.   , 1025.9  , 1027.3  , 1028.1  ,
       1024.6  , 1023.6  , 1025.8  , 1021.8  , 1022.3  , 1022.2  ,
       1018.5  , 1011.   , 1021.2  , 1019.9  , 1020.5  , 1021.4  ,
       1022.1  , 1028.5  , 1029.9  , 1029.2  , 1026.2  , 1020.4  ,
       1017.5  , 1015.1  , 1006.3  , 1008.3  , 1023.   , 1013.   ,
       1009.3  , 1027.7  , 1028.6  , 1027.1  , 1018.6  , 1005.5  ,
       1006.6  , 1009.4  , 1001.   , 1005.2  , 1009.6  , 1014.9  ,
       1019.   , 1023.8  , 1015.6  , 1007.7  , 1005.8  , 1009.9  ,
       1014.5  , 1019.8  , 1006.2  , 1025.4  , 1022.7  , 1023.1  ,
       1025.3  , 1024.8  , 1022.9  , 1020.2  , 1016.7  , 1008.6  ,
       1010.   , 1015.3  , 1006.4  , 1027.2  , 1022.5  , 1014.3  ,
       1013.3  ,  996.9  , 1015.2  , 1021.7  , 1012.3  , 1017.9  ,
       1011.4  , 1011.3  , 1017.6  , 1018.2  , 1015.4  , 1012.2  ,
       1011.9  ,  999.2  , 1002.9  , 1008.4  , 1008.8  , 1004.9  ,
       1025.7  , 1016.9  ,  999.4  ,  997.6  , 1024.7  , 1023.7  ,
       1022.   , 1015.8  , 1017.8  , 1011.2  , 1002.3  , 1003.5  ,
       1016.   , 1016.3  , 1016.1  , 1014.2  , 1007.3  , 1017.   ,
       1012.5  , 1011.5  , 1009.1  , 1004.1  , 1007.   , 1003.7  ,
       1007.9  , 1011.7  , 1021.3  , 1030.2  , 1033.6  , 1031.4  ,
       1026.   , 1021.   , 1023.3  , 1018.8  , 1018.1  , 1021.1  ,
       1020.1  , 1024.4  , 1021.9  , 1014.   , 1024.1  , 1024.3  ,
       1015.5  , 1002.8  , 1030.7  , 1032.   , 1028.3  , 1026.7  ,
       1033.8  , 1035.2  , 1032.9  , 1029.8  , 1029.   , 1022.8  ,
       1025.1  , 1026.6  , 1008.9  , 1026.3  , 1028.9  , 1029.1  ,
       1034.1  , 1031.5  , 1000.1  , 1004.4  , 1025.2  ,  999.   ,
       1022.6  , 1025.   , 1023.9  ,  982.9  , 1007.2  , 1002.1  ,
        994.3  , 1004.3  , 1000.5  , 1010.7  , 1009.5  , 1006.1  ,
       1001.5  , 1016.6  , 1002.5  , 1000.3  , 1005.3  , 1030.5  ,
       1028.8  , 1024.9  , 1024.5  , 1027.8  , 1028.7  , 1032.6  ,
       1035.1  , 1034.2  , 1029.7  , 1033.3  , 1027.6  , 1030.4  ,
       1034.6  , 1036.   ,      nan,  996.2  , 1030.9  , 1026.1  ,
       1000.7  ,  995.4  , 1002.   ,  995.7  , 1001.9  , 1031.   ,
       1031.1  , 1031.9  , 1032.5  , 1025.5  , 1028.4  , 1033.2  ,
       1024.2  , 1030.3  , 1030.   , 1001.3  , 1000.8  , 1001.6  ,
       1026.9  ,  997.2  ,  998.5  , 1026.8  , 1027.   , 1027.9  ,
       1028.2  , 1029.3  , 1022.4  , 1027.4  , 1029.4  ,  999.6  ,
       1001.4  ,  999.1  ,  994.8  , 1001.2  ,  998.4  , 1025.6  ,
       1026.5  , 1003.   ,  998.9  ,  998.8  , 1026.4  , 1027.5  ,
       1030.1  , 1032.3  , 1032.8  , 1005.6  ,  998.7  , 1000.2  ,
       1033.5  , 1032.2  , 1030.6  , 1031.7  , 1028.   , 1032.1  ,
       1031.2  , 1029.5  , 1004.   , 1036.1  ,  999.5  ,  993.1  ,
        998.1  ,  997.5  , 1000.   ,  995.9  , 1034.3  , 1033.7  ,
       1031.3  , 1032.4  ,  998.   , 1000.6  ,  998.2  , 1001.1  ,
        999.3  , 1003.1  , 1034.9  , 1036.2  , 1032.7  , 1031.8  ,
        989.1  ,  995.1  , 1036.4  , 1035.   , 1034.8  , 1036.8  ,
        996.4  , 1031.6  ,  997.7  ,  997.9  ,  996.7  ,  999.8  ,
        999.7  ,  995.3  ,  994.5  ,  996.5  ,  998.3  , 1030.8  ,
        993.8  ,  997.4  ,  995.8  , 1029.6  , 1034.   ,  993.7  ,
        999.9  ,  997.1  , 1000.4  , 1034.7  ,  991.6  , 1034.4  ,
       1033.4  , 1035.9  ,  996.8  ,  997.   , 1035.6  ,  995.5  ,
       1034.5  , 1035.7  ,  995.6  ,  994.9  ,  996.1  ,  979.   ,
        996.   ,  995.2  , 1033.   ,  989.   , 1036.3  , 1035.5  ,
        993.4  ,  994.   ,  996.3  ,  998.6  , 1026.66 , 1009.555,
       1016.777,  991.4  ,  991.   ,  990.3  ,  989.8  , 1036.7  ,
        994.2  ,  989.3  ,  995.   , 1037.   , 1035.4  ,  993.9  ,
        993.6  ,  984.2  ,  994.7  ,  997.3  ,  994.4  ,  992.8  ,
       1033.9  ,  990.7  , 1033.1  ,  987.4  , 1036.9  , 1035.8  ,
       1037.8  ,  993.5  ,  993.3  ,  990.2  ,  993.2  , 1037.3  ,
        985.5  , 1037.9  ,  996.6  ,  994.1  ,  991.9  ,  992.6  ,
        985.   ,  994.6  , 1037.5  , 1037.7  ,  990.9  ,  988.7  ,
        992.5  ,  989.9  ,  987.3  ,  992.   ,  990.4  ,  988.6  ,
        992.7  ,  992.3  ,  987.1  ,  991.8  ,  991.1  ,  988.8  ,
        991.5  ,  992.9  ,  991.7  ,  989.4  ,  992.4  ,  992.1  ,
       1035.3  ,  988.2  ,  990.8  ,  990.6  ,  988.3  ,  987.7  ,
        982.6  ,  986.5  ,  991.3  , 1036.6  , 1037.1  ,  985.6  ,
        992.2  ,  987.8  ,  986.   , 1036.5  ,  985.2  ,  986.4  ,
        986.6  ,  988.9  ,  984.9  , 1038.   , 1038.2  ,  986.9  ,
        989.6  ,  989.7  ,  989.2  ,  986.1  ,  985.1  ,  984.   ,
        985.3  ,  981.2  ,  988.4  , 1037.2  , 1037.6  ,  987.6  ,
        980.2  ,  986.2  ,  987.   , 1038.5  , 1038.9  ,  988.1  ,
        990.1  ,  988.5  ,  990.   ,  984.5  ,  987.2  ,  985.4  ,
        981.4  ,  984.4  ,  991.2  ,  982.2  ,  988.   ,  977.1  ,
        978.2  ,  983.2  ,  981.9  ,  983.3  ,  990.5  , 1039.6  ,
        986.8  , 1038.4  ,  985.8  ,  989.5  ])

In [13]:
weather["RainToday"].unique()

array(['No', 'Yes', nan], dtype=object)

In [14]:
weather["RainTomorrow"].unique()

array(['No', 'Yes', nan], dtype=object)

In [15]:
weather["WindGustDir"].fillna("EE",inplace=True)
weather["WindDir9am"].fillna("AF",inplace=True)
weather["WindDir3pm"].fillna("SSS",inplace=True)
weather["WindSpeed9am"].fillna(200,inplace=True)
weather["WindSpeed3pm"].fillna(300,inplace=True)
weather["Pressure3pm"].fillna(100,inplace=True)
weather["RainToday"].fillna("EE",inplace=True)
weather["RainTomorrow"].fillna("EE",inplace=True)

In [16]:
weather.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [17]:
weather.to_csv("New2_weatherAUS.csv",index=False)
new_AUS = pd.read_csv("New2_weatherAUS.csv")
new_AUS

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.900000,0.6,5.468232,7.611178,W,44.00000,W,...,71.0,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.100000,0.0,5.468232,7.611178,WNW,44.00000,NNW,...,44.0,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.700000,0.0,5.468232,7.611178,WSW,46.00000,W,...,38.0,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.000000,0.0,5.468232,7.611178,NE,24.00000,SE,...,45.0,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.300000,1.0,5.468232,7.611178,W,41.00000,ENE,...,82.0,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.400000,0.0,5.468232,7.611178,E,31.00000,SE,...,51.0,24.0,1024.6,1020.3,4.447461,4.50993,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.300000,0.0,5.468232,7.611178,NNW,22.00000,SE,...,56.0,21.0,1023.5,1019.1,4.447461,4.50993,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.900000,0.0,5.468232,7.611178,N,37.00000,SE,...,53.0,24.0,1021.0,1016.8,4.447461,4.50993,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.000000,0.0,5.468232,7.611178,SE,28.00000,SSE,...,51.0,24.0,1019.4,1016.5,3.000000,2.00000,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,23.221348,0.0,5.468232,7.611178,EE,40.03523,ESE,...,62.0,36.0,1020.2,1017.9,8.000000,8.00000,15.0,20.9,No,EE

In [18]:
new_AUS["Date"].unique()

array(['2008-12-01', '2008-12-02', '2008-12-03', ..., '2008-01-29',
       '2008-01-30', '2008-01-31'], dtype=object)

# Q.1. Find the Uluru mintemp & maxtemp between 2017-06-21 to 2017-06-25

In [19]:
aa = new_AUS[['Date','Location','MinTemp','MaxTemp']]
aa

              Date Location  MinTemp    MaxTemp
0       2008-12-01   Albury     13.4  22.900000
1       2008-12-02   Albury      7.4  25.100000
2       2008-12-03   Albury     12.9  25.700000
3       2008-12-04   Albury      9.2  28.000000
4       2008-12-05   Albury     17.5  32.300000
...            ...      ...      ...        ...
145455  2017-06-21    Uluru      2.8  23.400000
145456  2017-06-22    Uluru      3.6  25.300000
145457  2017-06-23    Uluru      5.4  26.900000
145458  2017-06-24    Uluru      7.8  27.000000
145459  2017-06-25    Uluru     14.9  23.221348

[145460 rows x 4 columns]

In [20]:
UU = aa.loc[(aa["Date"]>="2017-06-21") & (aa["Date"]<="2017-06-25") & (aa["Location"]=="Uluru")]

In [21]:
UU

              Date Location  MinTemp    MaxTemp
145455  2017-06-21    Uluru      2.8  23.400000
145456  2017-06-22    Uluru      3.6  25.300000
145457  2017-06-23    Uluru      5.4  26.900000
145458  2017-06-24    Uluru      7.8  27.000000
145459  2017-06-25    Uluru     14.9  23.221348

# Q.2. Slice the Richmond data with the humidity9am & humidity3pm

In [22]:
rich = new_AUS.loc[(new_AUS["Location"]=="Richmond"),["Location","Humidity9am","Humidity3pm"]]

In [23]:
rich

       Location  Humidity9am  Humidity3pm
27167  Richmond    68.880831    51.539116
27168  Richmond    68.880831    51.539116
27169  Richmond    68.880831    51.539116
27170  Richmond    68.880831    51.539116
27171  Richmond    68.880831    51.539116
...         ...          ...          ...
30171  Richmond    99.000000    67.000000
30172  Richmond    91.000000    60.000000
30173  Richmond    99.000000    71.000000
30174  Richmond    85.000000    39.000000
30175  Richmond    88.000000    35.000000

[3009 rows x 3 columns]